.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);

  min-height: 50rem; //test
}

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: 1px solid var(--color-grey-light-2);
  /*
  Set parent to flex
  Justify children along the main (horizontal) axis, using space between so evenly spaced
  Align items so it's centered on cross (vertical) axis
  */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  //Set container to flex
  display: flex;
}

.sidebar {
  background-color: var(--color-grey-dark-1);
  /*
  Give child flex property
  flex: grow(don't grow if there is some space) > shrink(don't shrink if there is not enough space) > basis(width)(but always keep width at 18%)
  */
  flex: 0 0 18%;
  /*
  Push copyright div all the way to the bottom by changing the main axis from left to right to top to bottom
   */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-view {
  background-color: #fff;
  /*
  Give child flex property
  flex:grow > take up as much space available (82%)
  */
  flex: 1;

  height: 80rem;
}